<cb:asset.css identifier="content-block-css-steilstarter-steilstarter/jobs" file="Frontend.css"/>
<cb:asset.script identifier="content-block-js-steilstarter-steilstarter/jobs" file="Frontend.js"/>

<div class="frame frame-default">
    <div class="frame-group-container">
        <div class="frame-group-inner">
            <div class="frame-container frame-container-default">
                <div class="frame-inner">
                    Frontend template for Content Block: steilstarter/jobs<br>
                    <div class="frame-header">
                        {data.header}
                    </div>
                    <div class="frame-subheader">
                        {data.subheader}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
