/*--------------------------------

bootstrappackageicon icon font
Generated using nucleoapp.com

-------------------------------- */

@font-face {
  font-family: 'bootstrappackageicon';
  src: url('../fonts/bootstrappackageicon.eot');
  src: url('../fonts/bootstrappackageicon.eot') format('embedded-opentype'),
       url('../fonts/bootstrappackageicon.woff2') format('woff2'),
       url('../fonts/bootstrappackageicon.woff') format('woff'),
       url('../fonts/bootstrappackageicon.ttf') format('truetype'),
       url('../fonts/bootstrappackageicon.svg') format('svg');
}

/* base class */
.bootstrappackageicon {
  display: inline-block;
  font: normal normal normal 1em/1 'bootstrappackageicon';
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size examples - relative units */
.bootstrappackageicon-sm {
  font-size: 0.8em;
}

.bootstrappackageicon-lg {
  font-size: 1.2em;
}

/* size examples - absolute units */
.bootstrappackageicon-16 {
  font-size: 16px;
}

.bootstrappackageicon-32 {
  font-size: 32px;
}

/* rotate the icon infinitely */
.bootstrappackageicon-is-spinning {
  animation: bootstrappackageicon-spin 1s infinite linear;
}

@keyframes bootstrappackageicon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* transform */
.bootstrappackageicon-rotate-90 {
  transform: rotate(90deg);
}

.bootstrappackageicon-rotate-180 {
  transform: rotate(180deg);
}

.bootstrappackageicon-rotate-270 {
  transform: rotate(270deg);
}

.bootstrappackageicon-flip-y {
  transform: scaleY(-1);
}

.bootstrappackageicon-flip-x {
  transform: scaleX(-1);
}

/* icons */
.bootstrappackageicon-typo3::before {
  content: "\ea02";
}

.bootstrappackageicon-twitter::before {
  content: "\ea03";
}

.bootstrappackageicon-tiktok::before {
  content: "\ea04";
}

.bootstrappackageicon-twitch::before {
  content: "\ea05";
}

.bootstrappackageicon-vimeo-v::before {
  content: "\ea06";
}

.bootstrappackageicon-tumblr::before {
  content: "\ea07";
}

.bootstrappackageicon-stripe-s::before {
  content: "\ea08";
}

.bootstrappackageicon-square-youtube::before {
  content: "\ea09";
}

.bootstrappackageicon-spotify::before {
  content: "\ea0a";
}

.bootstrappackageicon-slack::before {
  content: "\ea0b";
}

.bootstrappackageicon-shopware::before {
  content: "\ea0c";
}

.bootstrappackageicon-skype::before {
  content: "\ea0d";
}

.bootstrappackageicon-pinterest-p::before {
  content: "\ea0e";
}

.bootstrappackageicon-paypal::before {
  content: "\ea0f";
}

.bootstrappackageicon-linkedin-in::before {
  content: "\ea10";
}

.bootstrappackageicon-google-plus-g::before {
  content: "\ea11";
}

.bootstrappackageicon-git::before {
  content: "\ea12";
}

.bootstrappackageicon-facebook-f::before {
  content: "\ea13";
}

.bootstrappackageicon-facebook-messenger::before {
  content: "\ea14";
}

.bootstrappackageicon-facebook::before {
  content: "\ea15";
}

.bootstrappackageicon-dropbox::before {
  content: "\ea16";
}

.bootstrappackageicon-bilibili::before {
  content: "\ea17";
}

.bootstrappackageicon-pinterest::before {
  content: "\ea18";
}

.bootstrappackageicon-square-instagram::before {
  content: "\ea19";
}

.bootstrappackageicon-square-twitter::before {
  content: "\ea1a";
}

.bootstrappackageicon-square-xing::before {
  content: "\ea1b";
}

.bootstrappackageicon-square-whatsapp::before {
  content: "\ea1c";
}

.bootstrappackageicon-square-vimeo::before {
  content: "\ea1d";
}

.bootstrappackageicon-square-reddit::before {
  content: "\ea1e";
}

.bootstrappackageicon-square-pinterest::before {
  content: "\ea1f";
}

.bootstrappackageicon-square-tumblr::before {
  content: "\ea20";
}

.bootstrappackageicon-square-facebook::before {
  content: "\ea21";
}

.bootstrappackageicon-square-google-plus::before {
  content: "\ea22";
}

.bootstrappackageicon-file-image::before {
  content: "\ea23";
}

.bootstrappackageicon-file::before {
  content: "\ea24";
}

.bootstrappackageicon-vk::before {
  content: "\ea25";
}

.bootstrappackageicon-rss::before {
  content: "\ea26";
}

.bootstrappackageicon-square-rss::before {
  content: "\ea27";
}

.bootstrappackageicon-phone::before {
  content: "\ea28";
}

.bootstrappackageicon-mail::before {
  content: "\ea29";
}
