/*--------------------------------

bootstrappackageicon icon font
Generated using nucleoapp.com

-------------------------------- */

@bootstrappackageicon-font-path: "../fonts";

@font-face {
  font-family: 'bootstrappackageicon';
  src: url('@{bootstrappackageicon-font-path}/bootstrappackageicon.eot');
  src: url('@{bootstrappackageicon-font-path}/bootstrappackageicon.eot') format('embedded-opentype'),
       url('@{bootstrappackageicon-font-path}/bootstrappackageicon.woff2') format('woff2'),
       url('@{bootstrappackageicon-font-path}/bootstrappackageicon.woff') format('woff'),
       url('@{bootstrappackageicon-font-path}/bootstrappackageicon.ttf') format('truetype'),
       url('@{bootstrappackageicon-font-path}/bootstrappackageicon.svg') format('svg');
}

/* base class */
.bootstrappackageicon {
  display: inline-block;
  font: normal normal normal 1em/1 'bootstrappackageicon';
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size examples - relative units */
.bootstrappackageicon-sm {
	font-size: 0.8em;
}

.bootstrappackageicon-lg {
  font-size: 1.2em;
}

/* size examples - absolute units */
.bootstrappackageicon-16 {
  font-size: 16px;
}

.bootstrappackageicon-32 {
  font-size: 32px;
}

/* rotate the icon infinitely */
.bootstrappackageicon-is-spinning {
  animation: bootstrappackageicon-spin 1s infinite linear;
}

@keyframes bootstrappackageicon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* transform */
.bootstrappackageicon-rotate-90  {
	transform: rotate(90deg);
}

.bootstrappackageicon-rotate-180 {
	transform: rotate(180deg);
}

.bootstrappackageicon-rotate-270 {
	transform: rotate(270deg);
}

.bootstrappackageicon-flip-y {
	transform: scaleY(-1);
}

.bootstrappackageicon-flip-x {
	transform: scaleX(-1);
}

/* icons */
@bootstrappackageicon-typo3: "\ea02";
@bootstrappackageicon-twitter: "\ea03";
@bootstrappackageicon-tiktok: "\ea04";
@bootstrappackageicon-twitch: "\ea05";
@bootstrappackageicon-vimeo-v: "\ea06";
@bootstrappackageicon-tumblr: "\ea07";
@bootstrappackageicon-stripe-s: "\ea08";
@bootstrappackageicon-square-youtube: "\ea09";
@bootstrappackageicon-spotify: "\ea0a";
@bootstrappackageicon-slack: "\ea0b";
@bootstrappackageicon-shopware: "\ea0c";
@bootstrappackageicon-skype: "\ea0d";
@bootstrappackageicon-pinterest-p: "\ea0e";
@bootstrappackageicon-paypal: "\ea0f";
@bootstrappackageicon-linkedin-in: "\ea10";
@bootstrappackageicon-google-plus-g: "\ea11";
@bootstrappackageicon-git: "\ea12";
@bootstrappackageicon-facebook-f: "\ea13";
@bootstrappackageicon-facebook-messenger: "\ea14";
@bootstrappackageicon-facebook: "\ea15";
@bootstrappackageicon-dropbox: "\ea16";
@bootstrappackageicon-bilibili: "\ea17";
@bootstrappackageicon-pinterest: "\ea18";
@bootstrappackageicon-square-instagram: "\ea19";
@bootstrappackageicon-square-twitter: "\ea1a";
@bootstrappackageicon-square-xing: "\ea1b";
@bootstrappackageicon-square-whatsapp: "\ea1c";
@bootstrappackageicon-square-vimeo: "\ea1d";
@bootstrappackageicon-square-reddit: "\ea1e";
@bootstrappackageicon-square-pinterest: "\ea1f";
@bootstrappackageicon-square-tumblr: "\ea20";
@bootstrappackageicon-square-facebook: "\ea21";
@bootstrappackageicon-square-google-plus: "\ea22";
@bootstrappackageicon-file-image: "\ea23";
@bootstrappackageicon-file: "\ea24";
@bootstrappackageicon-vk: "\ea25";
@bootstrappackageicon-rss: "\ea26";
@bootstrappackageicon-square-rss: "\ea27";
@bootstrappackageicon-phone: "\ea28";
@bootstrappackageicon-mail: "\ea29";

.bootstrappackageicon-typo3::before {
  content: @bootstrappackageicon-typo3;
}

.bootstrappackageicon-twitter::before {
  content: @bootstrappackageicon-twitter;
}

.bootstrappackageicon-tiktok::before {
  content: @bootstrappackageicon-tiktok;
}

.bootstrappackageicon-twitch::before {
  content: @bootstrappackageicon-twitch;
}

.bootstrappackageicon-vimeo-v::before {
  content: @bootstrappackageicon-vimeo-v;
}

.bootstrappackageicon-tumblr::before {
  content: @bootstrappackageicon-tumblr;
}

.bootstrappackageicon-stripe-s::before {
  content: @bootstrappackageicon-stripe-s;
}

.bootstrappackageicon-square-youtube::before {
  content: @bootstrappackageicon-square-youtube;
}

.bootstrappackageicon-spotify::before {
  content: @bootstrappackageicon-spotify;
}

.bootstrappackageicon-slack::before {
  content: @bootstrappackageicon-slack;
}

.bootstrappackageicon-shopware::before {
  content: @bootstrappackageicon-shopware;
}

.bootstrappackageicon-skype::before {
  content: @bootstrappackageicon-skype;
}

.bootstrappackageicon-pinterest-p::before {
  content: @bootstrappackageicon-pinterest-p;
}

.bootstrappackageicon-paypal::before {
  content: @bootstrappackageicon-paypal;
}

.bootstrappackageicon-linkedin-in::before {
  content: @bootstrappackageicon-linkedin-in;
}

.bootstrappackageicon-google-plus-g::before {
  content: @bootstrappackageicon-google-plus-g;
}

.bootstrappackageicon-git::before {
  content: @bootstrappackageicon-git;
}

.bootstrappackageicon-facebook-f::before {
  content: @bootstrappackageicon-facebook-f;
}

.bootstrappackageicon-facebook-messenger::before {
  content: @bootstrappackageicon-facebook-messenger;
}

.bootstrappackageicon-facebook::before {
  content: @bootstrappackageicon-facebook;
}

.bootstrappackageicon-dropbox::before {
  content: @bootstrappackageicon-dropbox;
}

.bootstrappackageicon-bilibili::before {
  content: @bootstrappackageicon-bilibili;
}

.bootstrappackageicon-pinterest::before {
  content: @bootstrappackageicon-pinterest;
}

.bootstrappackageicon-square-instagram::before {
  content: @bootstrappackageicon-square-instagram;
}

.bootstrappackageicon-square-twitter::before {
  content: @bootstrappackageicon-square-twitter;
}

.bootstrappackageicon-square-xing::before {
  content: @bootstrappackageicon-square-xing;
}

.bootstrappackageicon-square-whatsapp::before {
  content: @bootstrappackageicon-square-whatsapp;
}

.bootstrappackageicon-square-vimeo::before {
  content: @bootstrappackageicon-square-vimeo;
}

.bootstrappackageicon-square-reddit::before {
  content: @bootstrappackageicon-square-reddit;
}

.bootstrappackageicon-square-pinterest::before {
  content: @bootstrappackageicon-square-pinterest;
}

.bootstrappackageicon-square-tumblr::before {
  content: @bootstrappackageicon-square-tumblr;
}

.bootstrappackageicon-square-facebook::before {
  content: @bootstrappackageicon-square-facebook;
}

.bootstrappackageicon-square-google-plus::before {
  content: @bootstrappackageicon-square-google-plus;
}

.bootstrappackageicon-file-image::before {
  content: @bootstrappackageicon-file-image;
}

.bootstrappackageicon-file::before {
  content: @bootstrappackageicon-file;
}

.bootstrappackageicon-vk::before {
  content: @bootstrappackageicon-vk;
}

.bootstrappackageicon-rss::before {
  content: @bootstrappackageicon-rss;
}

.bootstrappackageicon-square-rss::before {
  content: @bootstrappackageicon-square-rss;
}

.bootstrappackageicon-phone::before {
  content: @bootstrappackageicon-phone;
}

.bootstrappackageicon-mail::before {
  content: @bootstrappackageicon-mail;
}

