/*--------------------------------

bootstrappackageicon icon font
Generated using nucleoapp.com

-------------------------------- */

$bootstrappackageicon-font-path: "../fonts" !default;

@font-face {
  font-family: 'bootstrappackageicon';
  src: url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.eot');
  src: url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.eot') format('embedded-opentype'),
       url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.woff2') format('woff2'),
       url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.woff') format('woff'),
       url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.ttf') format('truetype'),
       url('#{$bootstrappackageicon-font-path}/bootstrappackageicon.svg') format('svg');
}

/* base class */
.bootstrappackageicon {
  display: inline-block;
  font: normal normal normal 1em/1 'bootstrappackageicon';
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size examples - relative units */
.bootstrappackageicon-sm {
  font-size: 0.8em;
}

.bootstrappackageicon-lg {
  font-size: 1.2em;
}

/* size examples - absolute units */
.bootstrappackageicon-16 {
  font-size: 16px;
}

.bootstrappackageicon-32 {
  font-size: 32px;
}

/* rotate the icon infinitely */
.bootstrappackageicon-is-spinning {
  animation: bootstrappackageicon-spin 1s infinite linear;
}

@keyframes bootstrappackageicon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* transform */
.bootstrappackageicon-rotate-90  {
	transform: rotate(90deg);
}

.bootstrappackageicon-rotate-180 {
	transform: rotate(180deg);
}

.bootstrappackageicon-rotate-270 {
	transform: rotate(270deg);
}

.bootstrappackageicon-flip-y {
	transform: scaleY(-1);
}

.bootstrappackageicon-flip-x {
	transform: scaleX(-1);
}

/* icons */
$icons: (
  'typo3': 'ea02',
  'twitter': 'ea03',
  'tiktok': 'ea04',
  'twitch': 'ea05',
  'vimeo-v': 'ea06',
  'tumblr': 'ea07',
  'stripe-s': 'ea08',
  'square-youtube': 'ea09',
  'spotify': 'ea0a',
  'slack': 'ea0b',
  'shopware': 'ea0c',
  'skype': 'ea0d',
  'pinterest-p': 'ea0e',
  'paypal': 'ea0f',
  'linkedin-in': 'ea10',
  'google-plus-g': 'ea11',
  'git': 'ea12',
  'facebook-f': 'ea13',
  'facebook-messenger': 'ea14',
  'facebook': 'ea15',
  'dropbox': 'ea16',
  'bilibili': 'ea17',
  'pinterest': 'ea18',
  'square-instagram': 'ea19',
  'square-twitter': 'ea1a',
  'square-xing': 'ea1b',
  'square-whatsapp': 'ea1c',
  'square-vimeo': 'ea1d',
  'square-reddit': 'ea1e',
  'square-pinterest': 'ea1f',
  'square-tumblr': 'ea20',
  'square-facebook': 'ea21',
  'square-google-plus': 'ea22',
  'file-image': 'ea23',
  'file': 'ea24',
  'vk': 'ea25',
  'rss': 'ea26',
  'square-rss': 'ea27',
  'phone': 'ea28',
  'mail': 'ea29',
);

@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

@each $name, $code in $icons {
  .bootstrappackageicon-#{""+$name}::before {
    content: unicode($code);
  }
}