//
// Variables
//
$black: #000;
$gray-100:                          #f8f8f8 !default;
$light: #eee;
$white: #fff;
$body-bg: rgba($white,.9);
$green: green;

$enable-negative-margins: true;
$enable-shadows: true;
$font-family-base: "Arial";

$navbar-light-color: $black;
$navbar-light-hover-color: $primary;

// Mobile Nav
$mobile-link-bg:$light;
$mobile-dropdown-bg:darken($mobile-link-bg,10%);

$footer-sections: () !default;
$footer-sections: map-merge(
    (
        'content': (
          'background':   $light,
          'color':        color-contrast($light),
          'link-color':   a11y-color($navbar-light-color, $navbar-light-color)
        ),
        'meta': (
          'background':   $gray-100,
          'color':        color-contrast($gray-100),
          'link-color':   a11y-color($navbar-light-color, $navbar-light-color)
        )
    ),
    $footer-sections
);

// breadcrumb

$breadcrumb-bg: $primary;
$breadcrumb-divider-color: $black;
$breadcrumb-active-color: $black;
