//
// Variables
//
@import "variables";
$bootstrappackageicon-font-path: "../../Fonts/bootstrappackageicon/fonts";
//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import "components/main-nav";
//@import "components/mobile-nav";
@import "components/carousel";
@import "components/card-menu";
@import "components/texticon";
@import "components/footer";
@import "components/frame";
@import "components/breadcrumb";
@import "../../Fonts/bootstrappackageicon/scss/icons";

body {
  background-image: url("./fileadmin/Dateien_BMK/Resources/Public/Images/Wolken-BG.jpg");
  background-attachment: fixed;
  background-size: cover;
}
