/*--------------------------------

bootstrappackageicon Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'bootstrappackageicon';
  src: url('../../fonts/bootstrappackageicon.eot');
  src: url('../../fonts/bootstrappackageicon.eot') format('embedded-opentype'), url('../../fonts/bootstrappackageicon.woff2') format('woff2'), url('../../fonts/bootstrappackageicon.woff') format('woff'), url('../../fonts/bootstrappackageicon.ttf') format('truetype'), url('../../fonts/bootstrappackageicon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------

Reset

-------------------------------- */

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: system-ui, sans-serif;
  color: hsl(240, 4%, 20%);
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main, form legend {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, textarea, select {
  margin: 0;
}

a {
  color: hsl(230, 93%, 66%);
}

/* --------------------------------

Main components

-------------------------------- */
header {
  text-align: center;
  margin: 3em auto;
}

header h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

header p {
  font-size: 1rem;
  margin-top: 1em;
  color: hsla(0, 0%, 0%, 0.5);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  border-radius: .4em;
  transition: background-color .2s;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

ul li:hover {
  background: hsla(0, 0%, 0%, 0.05);
}

ul p, ul em, ul input {
  display: block;
  font-size: 0.75rem;
  color: hsla(0, 0%, 0%, 0.5);
  user-select: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 6rem;
}

ul p {
  padding: 8px 0 4px;
}

ul p::selection, ul em::selection {
  background: hsl(230, 93%, 66%);
  color: #fff;
}

ul p::-moz-selection, ul em::-moz-selection {
  background: hsl(230, 93%, 66%);
  color: #fff;
}

ul em {
  margin-bottom: 4px;
}

ul em::before {
  content: '[';
}
ul em::after {
  content: ']';
}

ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-family: auto;
}

/* --------------------------------

icons

-------------------------------- */
.bootstrappackageicon {
  display: inline-block;
  font: normal normal normal 32px/1 'bootstrappackageicon';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  font icons
-------------------------*/

.bootstrappackageicon-typo3::before {
  content: "\ea02";
}

.bootstrappackageicon-twitter::before {
  content: "\ea03";
}

.bootstrappackageicon-tiktok::before {
  content: "\ea04";
}

.bootstrappackageicon-twitch::before {
  content: "\ea05";
}

.bootstrappackageicon-vimeo-v::before {
  content: "\ea06";
}

.bootstrappackageicon-tumblr::before {
  content: "\ea07";
}

.bootstrappackageicon-stripe-s::before {
  content: "\ea08";
}

.bootstrappackageicon-square-youtube::before {
  content: "\ea09";
}

.bootstrappackageicon-spotify::before {
  content: "\ea0a";
}

.bootstrappackageicon-slack::before {
  content: "\ea0b";
}

.bootstrappackageicon-shopware::before {
  content: "\ea0c";
}

.bootstrappackageicon-skype::before {
  content: "\ea0d";
}

.bootstrappackageicon-pinterest-p::before {
  content: "\ea0e";
}

.bootstrappackageicon-paypal::before {
  content: "\ea0f";
}

.bootstrappackageicon-linkedin-in::before {
  content: "\ea10";
}

.bootstrappackageicon-google-plus-g::before {
  content: "\ea11";
}

.bootstrappackageicon-git::before {
  content: "\ea12";
}

.bootstrappackageicon-facebook-f::before {
  content: "\ea13";
}

.bootstrappackageicon-facebook-messenger::before {
  content: "\ea14";
}

.bootstrappackageicon-facebook::before {
  content: "\ea15";
}

.bootstrappackageicon-dropbox::before {
  content: "\ea16";
}

.bootstrappackageicon-bilibili::before {
  content: "\ea17";
}

.bootstrappackageicon-pinterest::before {
  content: "\ea18";
}

.bootstrappackageicon-square-instagram::before {
  content: "\ea19";
}

.bootstrappackageicon-square-twitter::before {
  content: "\ea1a";
}

.bootstrappackageicon-square-xing::before {
  content: "\ea1b";
}

.bootstrappackageicon-square-whatsapp::before {
  content: "\ea1c";
}

.bootstrappackageicon-square-vimeo::before {
  content: "\ea1d";
}

.bootstrappackageicon-square-reddit::before {
  content: "\ea1e";
}

.bootstrappackageicon-square-pinterest::before {
  content: "\ea1f";
}

.bootstrappackageicon-square-tumblr::before {
  content: "\ea20";
}

.bootstrappackageicon-square-facebook::before {
  content: "\ea21";
}

.bootstrappackageicon-square-google-plus::before {
  content: "\ea22";
}

.bootstrappackageicon-file-image::before {
  content: "\ea23";
}

.bootstrappackageicon-file::before {
  content: "\ea24";
}

.bootstrappackageicon-vk::before {
  content: "\ea25";
}

.bootstrappackageicon-rss::before {
  content: "\ea26";
}

.bootstrappackageicon-square-rss::before {
  content: "\ea27";
}

.bootstrappackageicon-phone::before {
  content: "\ea28";
}

.bootstrappackageicon-mail::before {
  content: "\ea29";
}

