.breadcrumb-section {
  margin-bottom:$triangle-width;
  .breadcrumb {
    position: relative;
    .breadcrumb-link {
      color: color-contrast($primary);

    }
    &-item {
      &.active {
        color: color-contrast($primary);
      }
      &::before {
        color: color-contrast($primary);
      }
    }
    &:after {
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $triangle-width $triangle-width 0 $triangle-width;
      border-color: $primary transparent transparent transparent;
      position: absolute;
      left: 50%;
      transform:translateX(-50%) translateY(-1px);
      bottom: -$triangle-width;
    }
  }
}