.carousel {
  &-text-inner {
    @extend .m-0;
    @extend .d-flex;
    @extend .flex-column;
    @include media-breakpoint-up(xl) {
      width: auto !important;
    }
    h2 {
      background: rgba($white,0.4);
      @extend .custom-shadow;
      @extend .display-1;
      @extend .px-5;
      @extend .py-3;
      margin-bottom: 0;
    }
    h3 {
      @extend .bg-primary;
      @extend .text-white;
      @extend .px-5;
      @extend .py-2;
      @extend .mt-n1;
      @extend .mt-lg-n2;
      @extend .ms-3;
      @extend .ms-lg-5;
    }
  }
}

.custom-shadow {
  text-shadow: #555 3px 3px 5px;
}