.card-menu {
  &.card-menu-align-center {
    .card-footer {
      @extend .d-inline-flex;
      @extend .justify-content-center;
    }
  }
  .card {
    border: 0;
    background: unset;
   &-footer {
      .card-link {
        @extend .btn;
        @extend .shadow;
        background-image: linear-gradient( #eee 0%, #ccc 80%);
        box-shadow: 3px 3px 5px grey;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 0;
      }
   }
  }
}