$triangle-width:25px;
.frame {
  &.frame-background-primary {
    h2 {
      color: $white;
      @extend .custom-shadow;
    }
    &.frame-option-ruler-after {
      border: 0;
      &:after {
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $triangle-width $triangle-width 0 $triangle-width;
        border-color: $primary transparent transparent transparent;
        position: absolute;
        left: 50%;
        transform:translateX(-50%) translateY(-1px);
        bottom: -$triangle-width;
      }
    }
  }
}