#mainnavigation {
  .navbar-nav {
    border: 1px solid $gray-500;
    background-color: $mobile-link-bg;
    margin-top: 15px;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      justify-content: space-around;
    }

    &:before {
      display: none;
    }
    .nav-item {
      border-radius: 0;
      @include media-breakpoint-down(xl) {
        &:not(:last-child) {
          border-bottom: 1px solid $gray-500;
        }
        margin: 0;
        .dropdown-menu {
          box-shadow: none;
          padding: 0;
          border-radius: 0;
          border: 0;
          background-color: $mobile-dropdown-bg;
          .nav-link {
            padding: 15px;
          }
        }
      }
      .nav-link {
        @extend .fw-bold;
        @extend .text-uppercase;
        border-radius: 0;
        &.nav-link-main::before {
          display:none;
        }
        @include media-breakpoint-down(xl) {
          padding: 15px;
          &.nav-link-toggle {
            border-left: 1px solid $gray-500;
            padding:15px 20px;
          }
        }
      }
    }
  }
}