#mainnavigation {
  &.show {
    .navbar-nav {
      border: 1px solid $gray-500;
      &::before {
        height: unset !important;
        display: none;
      }
      .nav-item {
        .nav-link {
          //@extend .d-flex;
          //@extend .justify-content-between;
          border-radius: 0;
          border: 1px solid $gray-500;
          &.nav-link-toggle {
            aspect-ratio: 1/1;
            //flex: 0 1 40px;
            border-left: 0;
          }
        }
        .dropdown-menu {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          @extend .bg-light;
          border-radius: 0;
          .nav-link {
            border: 0;
          }
        }
      }
    }
  }
}