.texticon {
  &-top {
    .texticon-type-circle {
      .texticon-inner-icon {
        border: 8px solid $white;
      }
    }
    &:hover {
      svg {
        transform: rotate(360deg);
        transition: transform .3s ease-in-out;
      }
    }
  }
  .texticon-content {
    h2 {
      @extend .custom-shadow;
      color: $white;
    }
  }
}